.application.sheet.mu {
  &.item {
    min-width: 650px;
    max-width: 80%;
  }
  .sheet-header {
    margin-bottom: 10px;
    img {
      flex: 0 0 150px;
      object-fit: contain;
    }
    input[name="name"] {
      height: 2em;
      font-size: 1.5rem;
    }
  }
}

.form-group,
.form-fields {
  margin: 2px;
}
